@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */


h1 {
  @apply mb-6 text-2xl md:text-3xl font-semibold ;
}

h1, h1 code.inline {
  @apply text-zinc-800;
}

h2 {
  @apply mb-6 mt-4 border-b text-xl md:text-[1.65rem] font-semibold ;
}


h2, h2 code.inline {
  @apply text-zinc-800;
}

.panel {
  @apply bg-[#111111] rounded-xl p-4;
  @apply border-2 border-neutral-600;
  /* @apply outline-2 outline-offset-6 outlne-amber-200; */
  /* @apply w-full h-full; */
  @apply flex flex-col justify-between items-center;
  @apply font-mono text-zinc-400;
  /* outline-color: #404040; 
  outline-offset: -12px; 
  outline-width: 2px; 
  outline-style: solid; */
}

.button-grid {
  @apply bg-[#111111] rounded-xl p-4;
  @apply border-2 border-neutral-600;
  @apply font-mono text-zinc-400;
  @apply grid grid-cols-4;
}

.dash-button {
  @apply w-32 h-12 my-2 rounded-lg border border-[#DAA520];
}

.status-lv {
  @apply col-span-4 grid grid-cols-4;
}
