<.flash_group flash={@flash} />
<div class="width-3xl">
  <h1>Where Fly Machines live</h1>
  Fly Machines with Fly Volumes are a novel approach to stateful compute based on Fly Machines and Fly Volumes. They aim to locate both compute and state closest to end users.
</div>
